USE [master]
GO
/****** Object:  Database [control]    Script Date: 18/06/2020 11:58:32 a. m. ******/
CREATE DATABASE [control]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'control', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\control.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'control_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\control_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [control].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [control]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 18/06/2020 11:58:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[num_ctrl] [varchar](50) NOT NULL CONSTRAINT [DF_alumnos_num_ctrl]  DEFAULT (''),
	[nombre] [varchar](250) NOT NULL CONSTRAINT [DF_alumnos_nombre]  DEFAULT (''),
	[Carrera] [varchar](250) NOT NULL CONSTRAINT [DF_alumnos_Carrera]  DEFAULT (''),
	[fecha_nac] [date] NULL,
	[num_tel] [varchar](50) NOT NULL CONSTRAINT [DF_alumnos_num_tel]  DEFAULT (''),
	[email] [varchar](50) NOT NULL CONSTRAINT [DF_alumnos_email]  DEFAULT (''),
 CONSTRAINT [PK_alumnos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[registro_ent]    Script Date: 18/06/2020 11:58:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[registro_ent](
	[id_reg] [int] IDENTITY(1,1) NOT NULL,
	[num_ctrl] [varchar](50) NOT NULL CONSTRAINT [DF_registro_ent_num_ctrl]  DEFAULT (''),
	[nombre] [varchar](250) NOT NULL CONSTRAINT [DF_registro_ent_nombre]  DEFAULT (''),
	[fecha_reg] [datetime] NULL,
	[fecha_sal] [datetime] NULL,
	[Carrera] [varchar](250) NOT NULL CONSTRAINT [DF_registro_ent_Carrera]  DEFAULT (''),
 CONSTRAINT [PK_registro_ent] PRIMARY KEY CLUSTERED 
(
	[id_reg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 18/06/2020 11:58:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](250) NULL CONSTRAINT [DF_Table_1_user]  DEFAULT (''),
	[password] [varchar](250) NULL CONSTRAINT [DF_usuarios_password]  DEFAULT (''),
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
